Repository plaidev/karte-android-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: Module:Core, Module:IAM, Module:Notification, Module:Variables, Module:VT, Examples, Gradle-Plugin

prepare version
  core/version
  gradle-plugin/version
  inappmessaging/version
  notifications/version
  variables/version
  visualtracking/version
Labels: Module:Core, Module:IAM, Module:Notification, Module:Variables, Module:VT, Gradle-Plugin

fix circle ci config
  .circleci/config.yml
Labels: none

fix release script
  .circleci/config.yml
  scripts/publish.sh
  scripts/sync_repository.sh
Labels: none

delete command
  .circleci/config.yml
Labels: none

mod version
  core/version
  gradle-plugin/version
  inappmessaging/version
  notifications/version
  variables/version
  visualtracking/version
Labels: Module:Core, Module:IAM, Module:Notification, Module:Variables, Module:VT, Gradle-Plugin

Update ["core", "inappmessaging", "notifications", "variables", "visualtracking", "gradle-plugin"]
  core/version
  inappmessaging/version
  notifications/version
  variables/version
  visualtracking/version
Labels: Module:Core, Module:IAM, Module:Notification, Module:Variables, Module:VT

add gradle plugin module for bump version script
  scripts/bump_version.rb
Labels: none

add build gradle version
  gradle-plugin/version
Labels: Gradle-Plugin

fix publish script
  .circleci/config.yml
  scripts/publish.sh
Labels: none

Update ["core", "inappmessaging", "notifications", "varables", "visualtracking", "gradle-plugin"]
  core/version
  gradle-plugin/version
  inappmessaging/version
  notifications/version
  variables/version
  visualtracking/version
Labels: Module:Core, Module:IAM, Module:Notification, Module:Variables, Module:VT, Gradle-Plugin

fix build gradle for gradle plugin
  gradle-plugin/build.gradle
  scripts/publish.sh
Labels: Gradle-Plugin

add bitray
  gradle-plugin/build.gradle
Labels: Gradle-Plugin

Update ["core", "inappmessaging", "notifications", "variables", "visualtracking", "gradle-plugin"]
  core/version
  gradle-plugin/version
  inappmessaging/version
  notifications/version
  variables/version
  visualtracking/version
Labels: Module:Core, Module:IAM, Module:Notification, Module:Variables, Module:VT, Gradle-Plugin

.github/labeler.yml:

# Pull Requestの変更に対応するラベルの定義
# https://github.com/actions/labeler
'Module:Core':
  - core/**
'Module:IAM':
  - inappmessaging/**
'Module:Notification':
  - notifications/**
'Module:Variables':
  - variables/**
'Module:VT':
  - visualtracking/**
'Examples':
  - examples/**
'Gradle-Plugin':
  - gradle-plugin/**
